<div class="item" id="systime">
    <div class="hd">
        <div class="date-range">
            <span class="start date">{{ time.Format "2006-01-02" (.Get "start") }}</span>–{{ if .Get "end" }}<span class="end date">{{ time.Format "2006-01-02" (.Get "end") }}</span>{{ end }}
        </div>
        <span class="title">{{ .Get "title" }}</span>
        {{- " ved " -}}
        {{- if .Get "company-url" -}}
        <a class="company" href="{{ .Get "company-url" }}">{{ .Get "company" }}</a>
        {{- else -}}
        <span class="company">{{ .Get "company" }}</span>
        {{- end -}}
    </div>

{{ .Inner }}

</div>
