{% extends 'base.html.twig' %}

{% block page_title 'Nudansk ordbog, 1 udgave' %}

{% block content %}
    <dl>
        <dt>A·bri'kos·mos</dt>
        <dd>Den del af det ydre rum der ligger lige før selve Kosmos.</dd>
        <dt>Bi'de·ring</dt>
        <dd>Det man foreta'r sig når man vasker sin dertil indrettede i et bidet.</dd>
        <dt>'Be·ar·bej·de</dt>
        <dd>Det som en præst har.</dd>
        <dt>'Beg·lo</dt>
        <dd>Datid af <q>at slå en særlig klistret og mørk latter op.</q></dd>
        <dt>'Bæ·kager</dt>
        <dd>En slags kager som stammer fra Fyn.</dd>
        <dt>Ci'tron·te</dt>
        <dd>Et varmt fluidum man i frikvarteret kan trække i en brun automat på sin folkeskole.</dd>
        <dt id="dette">'Det·te</dt>
        <dd>pronomen</dd>
        <dt>'Fu·se·la·ge</dt>
        <dd>En væske som man bruger til at marinere gær i. Stammer fra Vendsyssel.</dd>
        <dt>'Glo·bus</dt>
        <dd>Bus hvorfra man kigger på seværdigheder.</dd>
        <dt id="kærning">Kærning</dt>
        <dd>Se <a href="#skovalle">Skovalle</a>.</dd>
        <dt>'Ka·rens·da·ge</dt>
        <dd>Fejlagtigt antages det almindeligvis at karensdag, og det nært
            beslægtede karenstid, er afledninger af ordet karentæne. Faktisk
            forholder det sig omvendt; karentæne er en langt senere
            afledning af de senmiddelalderlige sydtyske ord "Karenstag" og
            "karenszeit".  Begrebet karensdage bygger på den middelalderlige
            overlevering, om den i religiøse henseender, sværmeriske Jomfru
            Karen. I det sydtyske fyrstendømme Augsburg, fandt Jomfru Karen
            i 1577 , en del tilhængere for sit postulat om at være befrugtet
            af Helligånden. Hun blev således på få uger ophavskvinde til en
            ny sekt, som prædikede evangeliet om profetens
            tilbagevenden. Hun vandt ikke gehør hos den katolsk-ortodokse
            fyrste, som tildelte hende en plads i fangehullet "til den dag
            hun måtte føde messias af sit skød." Karensdage betegner den
            uendelige ventetid i hullet. St. Karen døede fast i sin tro,
            skønt barnløs, i det usle fangehul. Hun blev 64 år.  Nyligt har
            partiet venstre introduceret begrebet i indvandrerdebatten. En
            diabolsk Anders Fjog Rasmussen foreslår at ventetiden for
            familiesammenføring bedst måles i karensdage.</dd>
        <dt id="kodegenerering">'Ko·de·ge·ne·re·ring</dt>
        <dd>Ødelæggelse af mælkeproducent.</dd>
        <dt>'Ko·par·ret</dt>
        <dd></dd>
        <dt>Lam'pet·arm</dt>
        <dd></dd>
        <dt>'Læ·ka·ge</dt>
        <dd>Kage man spiser når man kommer ind fra et blæsevejr.</dd>
        <dt>Ma·skin'ko·de·ge·ne·re·ring</dt>
        <dd>Ødelæggelse af automatisk mælkeproducent. Se også <a href="#kodegenerering">kodegenerering</a></dd>
        <dt>'Min·de·sten</dt>
        <dd>Tysk låneord.</dd>
        <dt>'Po·tas·ke</dt>
        <dd>Italiensk taske fra området omkring floden Po og sletten af samme navn.</dd>
        <dt>Puk·ke'lok·se</dt>
        <dd></dd>
        <dt>Re'ser·ve·ret</dt>
        <dd>Det mad man køber i kantinen når man har glemt sin madpakke.</dd>
        <dt>'Sam·men·lig·ning</dt>
        <dd>Når 2 eller flere personer ligger i en seng der er en smule for lille.</dd>
        <dt id="skovalle">'Sko·val·le</dt>
        <dd>Den væske der samler sig i et par sko efter de har været brugt en hel dag. Se også <a href="#kærning">kærning</a>.</dd>
        <dt>'Ski·de·sti·na·tion</dt>
        <dd>Land eller stat, hvor man, når man skal besørge går ud på de dertil anlagte stier.</dd>
        <dt>'Sko·ve·jer</dt>
        <dd>Akkordarbejder der aflønnes pr. kilo sko der produceres.</dd>
        <dt>'Svin·del</dt>
        <dd>Den forreste del af et svin.</dd>
        <dt>'Ta·ge·ta·ge</dt>
        <dd></dd>
        <dt>'Te·ke·del</dt>
        <dd>Stedbetegnelse på en teke, se <a href="#dette">dette</a>.</dd>
    </dl>
{% endblock %}
