{% extends 'base.html.twig' %}

{% block page_title 'Praktiske oplysninger' %}

{% block content %}
    <section id="kontaktoplysninger">
        <dl class="row">
            <dt class="col-sm-3">Navn</dt>
            <dd class="col-sm-9">Mikkel Ricky Christensen</dd>
            <dt class="col-sm-3">Adresse</dt>
            <dd class="col-sm-9"><a class="adr" href="https://maps.app.goo.gl/vVgGUkkb4BjfA3Tk9">
                    <span class="street-address">Fælledvej 9</span> <span class="postal-code">8250</span> <span class="locality">Egå</span>
                </a></dd>
            <dt class="col-sm-3">E-mailadresse</dt>
            <dd class="col-sm-9"><a href="mailto:mikkel@mikkelricky.dk">mikkel@mikkelricky.dk</a></dd>
            <dt class="col-sm-3">Telefon</dt>
            <dd class="col-sm-9">Jep, <a href="https://fi.google.com/about/phones/pixel-7a"> Google Pixel 7a</a> med det fantastiske nummer +45&nbsp;2345&nbsp;5632</dd>
            <dt class="col-sm-3">Fødselsdag</dt>
            <dd class="col-sm-9">Fredag den 23. maj 1975</dd>
            <dt class="col-sm-3">Bank</dt>
            <dd class="col-sm-9"><a href="https://www.sparnord.dk/">Spar Nord</a></dd>
            <dt class="col-sm-3">Kontonummer</dt>
            <dd class="col-sm-9">8122 1220196379</dd>
        </dl>
    </section>

    <h2 id="oenskeliste">Ønskeliste</h2>

        <ul class="list-unstyled">
            <li>Hjemmestrikkede/-hæklede karklude i herrestørrelse</li>
            <li>En tur i LEGOLAND eller LEGO House</li>
            <li>Ting der er hjemmelavede eller genbrug</li>
            <li>Noget jeg mangler</li>
            <li>Sort læderbælte</li>
            <li>Tømrerblyant</li>
            <li>Strømper i festlige farver</li>
            <li>Drinksryster i stål (mest til meljævning og den slags)</li>
            <li><a href="https://www.lego.com/da-dk/product/airbus-h175-rescue-helicopter-42145">Airbus H175-redningshelikopter</a></li>
            <li>Pyrex Classic-skåle (1 og 2 liter)</li>
        </ul>
{% endblock %}
