{% extends 'base.html.twig' %}

{% block page_title 'Verdens farligste dyr' %}

{% block content %}
    <ul>
        <li>Den grønne fjerboa</li>
        <li>Kålhøgen</li>
        <li>Lammetæven</li>
    </ul>
{% endblock %}
